/* .zone {
    font-size: 2em;
    /* outline: 1px solid black; 
} */

.nav {
    display: flex;
    /* justify-content: flex-end; */
    list-style: none;
    margin: 0;
    font-size: 1.5em;
    color: white;
    background-color: #0044ff;
    /* outline: 1px solid black; */
    /* flex-wrap: nowrap; */
}
li {

}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
} */


/* .end {
    display: flex;
    justify-content: flex-end;
    padding-right: 3em;
} */

.start {
   margin-right: auto;
    /* width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 3em; */
}

/* .logo {
    padding-left: 3em;
} */


/* 
.login {
    margin-right: 1em;
} 

.signup {
    margin-right: 1em;
} */