.nav {
    display: flex;
    /* justify-content: flex-end; */
    list-style: none;
    margin: 0;
    font-size: 1.5em;
    color: white;
    background-color: #0044ff;
    /* outline: 1px solid black; */
    /* flex-wrap: nowrap; */
}
li {

}

a {
    color: #FFF;
    text-decoration: none;
}

.start {
   margin-right: auto;
}